* {
    margin: 0px;
    padding: 0px;

}

body{
    
    font-size: 90%;
    font-family: Arial, sans-serif;
    text-align: center;
    min-width: 240px;
    overflow-x: hidden;
    background: none repeat scroll 0% 0% #FFF;
    
}
.plava{
    background-color: #00a6c4;
}
.omot{
    float: left;
    width: 100%;

}
.sadrzaj{

    
    margin: 0px auto;
    
}
.home{
    
    margin: 5%;
   position: relative;
}


img{
 
    margin: 4em 5%;
    height: auto;
    width: 90%;
    border: 0px none;
    
}
.unosoba{
    
    border-radius: 10px;
    padding: 0.5em;
    margin-bottom: 2em;
    background: none repeat scroll 0% 0% rgba(1, 0, 0, 0.7);
    
    

    
}

.unosoba .unos{
    width: 100%;
    float: left;
    margin-bottom: 0em;
}
.unos{ 
    position: relative;
    width: 100%;
}
.trazi{
    font-family: Exo,sans-serif;
    font-weight: 700;
    height: 3em;
    line-height: 3.3em;
    padding: 0px 3.5%;
    float: left;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    width: 93%;
    background: linear-gradient( to bottom, #9BDB21 0px, #83BA0C 100%) repeat scroll 0% 0% transparent;
    margin-top: 0.5em
}
span{
        position: relative;
        font-size: 1.3em;
}


#oib{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
    color: #999;
    text-align: center;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    font-size: 1em;
    height: 3em;
    line-height: 3em;

}
.oibtekst{
   
    width: 95%;
   background: linear-gradient( to bottom, #E8E8E8 0px, #FFF 33%) repeat scroll 0% 0% transparent;
    border-radius: 8px;
    font-size: 1em;
    height: 3em;
    line-height: 3em;
    background-color: #E8E8E8
    padding 0px 2.5%;
    padding: 0px 2.5%;
    
    
}

textarea:focus,input:focus{
    outline:0px none;
}

input{
    border:0px none;
    outline:0px none;
    text-align: left;
    

}

.footer{
    width: 100%;
    padding: 0.9em 0px;
    text-align: center;
    content: "";
    display: table;
    clear: both;

}
.footlink{
    
   
    color: #FFF;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    text-align: center;
}
.footer :first-child{
    border-left: 0px none;
}
.footer a{
    text-decoration: none;
}
.footer span{
    color: #006980;
    
    display: block;
    padding: 0.5em 1em;
    font-size: 97%;
    font-family: Arial,sans-serif;

    
}
.linkFina{
    text-decoration: none;
    color: #006980;

}

@media only screen and (min-width:640px){
    .sadrzaj{
        width:640px
    }

    .page-header{
    }

    .page-header .logo{
        float:left;
        width:50%;
        padding:2.7% 0
    }

    .search-form{
        float:left;
        border-top:0;
        width:50%;
        padding:1.5% 0
    }

    .search-form>.unos{
        margin-left:0
    }

    .search-form .oibtekst,.search-form .trazi{
        border-radius:5px
    }

    .footer{
    }

    .footer .footlink,.footer span{
        display:inline

    }

    .footer .footlink{
        border-left:1px solid #fff;
        float:left
    }

    .footer .footlink:first-child{
        border-left:0
    }

    .footer span{

        float:right


    }
    .home{
        margin: 2.5%;
    }

}
.group:before,.group:after{
    content:"";
    display:table;
}

.group:after{
    clear:both
}
.group{
    zoom:1
}
.fixed{
    position:fixed;
    top:0;
    width:100%;
    z-index:100
}
.arrow{
    background-image:url("images.png"); 
    display:inline-block;
    vertical-align:middle;
    background-position:0 -100px;
    width:22px;
    height:22px;

}
.trazi>span>.arrow{font-size: 1.3em;
    margin-left: 0.3em;
    margin-top: -0.2em;
}

   


